@keyframes slideInFromTop {
    0% {
        height: 0;
    }

    100% {
        height: inherit;
    }
}

@keyframes rainbowColors {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Inconsolata';
}

.typing {
    color: black;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 1px solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /*margin: 0 auto; /* Gives that scrolling effect as the typing happens */ */ letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

.blink-caret {
    border-right: 1px solid orange; /* The typwriter cursor */
    animation: blink-caret .5s step-end infinite;
}

.site-main {
    /*padding:32px;*/
}

.site-sidebar {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.person {
    padding: 0;
    margin: 0;
    background-color: black;
    text-align: center;
}

.person-content * {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbowColors 6s ease-in-out infinite;
    background-size: 400% 100%;
}

.person-title {
    margin: 0;
}

.js-person-subtitle {
    margin-top: 4px;
}

.person-avatar .avatar {
    margin: 4px;
    margin-top: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
    width: 50%;
    height: 50%;
}

.block-main-navigation {
    display: flex;
    flex-direction: column;
}

.nav-menu-bar {
    padding: 10px 20px;
    margin: 0;
    color: white;
    border: 1px solid rgba(255,255,255,.2);
    position: relative;
    background-color: black;
    list-style-type: none;
    overflow: hidden;
    font-size: 30px;
}

.social-icons {
    float: left;
}

    .social-icons a {
        color: inherit;
        display: inline-block;
        text-decoration: none;
    }

.js-menu-extend-button {
    float: right;
    color: white;
    background-color: black;
}

.js-nav-menu-items {
    margin: 0;
    padding: 0;
    color: white;
    display: none;
    font-size: 30px;
    background-color: black;
    list-style-type: none;
    /*animation: slideInFromTop 3s ease-in-out 0s;*/
}

    .js-nav-menu-items li {
        margin: 4px;
        text-align: left;
    }

        .js-nav-menu-items li a {
            color: inherit;
            text-decoration: none;
        }

        .js-nav-menu-items li:hover {
            color: black;
            background-color: white;
        }

.block-social-icons {
    display: none;
}

    .block-social-icons a {
        text-decoration: none;
        color: inherit;
    }

.about {
    padding: 16px;
}

    .about h1 {
        margin: 0;
        text-align: left;
        border-bottom: dotted;
    }

    .about > h3{
        border-bottom: 1px solid gray;
    }

    .about p {
        padding: 4px;
        border: outset;
        text-align: center;
        font-style: italic;
        background-color: ghostwhite;
    }

        .about p::before, .about p::after {
            content: '"';
        }

.js-portfolio {
    padding: 16px;
}

/*.js-portfolio::before {
        content: '';
        width: 2px;
        top: 420px;
        left: 24px;
        height: 50%;
        z-index: -1;
        position: absolute;
        background-color: gray;
    }*/

.portfolio-title {
    margin-bottom: 8px;
    text-align: left;
    border-bottom: dotted;
}

    .portfolio-title h1 {
        margin: 0;
    }

    .portfolio-title p {
        margin-top: 8px;
        margin-bottom: 8px;
    }

.timeline_element {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.timeline_element-logo {
    word-wrap: break-word;
    margin-right: 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid gray;
}

    .timeline_element-logo p {
        margin: 4px;
        /*font-size-adjust:inherit;*/
    }

.timeline_element-content {
    border: solid;
    padding: 16px;
}

.project_technologies {
    float: right;
}

.project_technologies-title {
    text-align: right;
}

.project_technologies-btn {
    float: inherit;
    margin: 8px;
    padding: 8px;
}

.project_technologies-tech_tags {                    
    list-style-type: none;
}

    .project_technologies-tech_tags li {
        margin: 4px;
        padding: 4px;
        float: right;
        display: inline-block;
        border: double;
        border-color: coral;
    }

.music {
    padding: 16px;
}

.album-cover {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

/* Desktop Stlyes */
@media all and (min-width:1262px) {
    .nav-menu-bar {
        display: none;
    }

    .site-main {
        padding: 32px;
        margin-left: 20%;
    }

    .site-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        width: 20%;
        text-align: center;
    }

    .person-avatar .avatar {
        width: 80%;
    }

    .block-main-navigation {
        margin-bottom: 50px;
    }

    .js-nav-menu-items {
        display: block;
        padding: 16px;
    }

    .block-social-icons {
        padding: 32px;
        display: inline-block;
        color: white;
        position: relative;
        background-color: black;
        list-style-type: none;
        overflow: hidden;
        font-size: 25px;
    }

    .js-portfolio {
        padding: 16px;
    }

    .timeline_element {
        flex-direction: row;
    }

    .timeline_element-logo {
        width: 5%;
        border-bottom: none;
    }
}

@media all and (min-width: 1000px) and (max-width:1261px) {
    .nav-menu-bar {
        display: none;
    }

    .site-main {
        padding: 32px;
        margin-left: 25%;
    }

    .site-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        width: 25%;
        text-align: center;
    }

    .person-avatar .avatar {
        width: 80%;
    }

    .block-main-navigation {
        margin-bottom: 50px;
    }

    .js-nav-menu-items {
        display: block;
        padding: 16px;
    }

    .block-social-icons {
        padding: 32px;
        display: inline-block;
        color: white;
        position: relative;
        background-color: black;
        list-style-type: none;
        overflow: hidden;
        font-size: 30px;
    }

    .js-portfolio {
        padding: 16px;
    }
}


.toggle_btn {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    bottom: 8px;
}

    .toggle_btn input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:after {
        position: absolute;
        content: "";
        width: 13px;
        height: 13px;
        left: 35px;
        top: 10px;
        background-image: url(../img/code-solid.svg);
        background-size: 13px 13px;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked + .slider:after {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    left: 9px;
    top: 10px;
    background-image: url(../img/guitar-solid.svg);
    background-size: 13px 13px;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }